# GLOBAL
PROJECT_NAME=todo-app
TIME_ZONE=Asia/Seoul

# DATABASE
POSTGRES_VERSION=16-bookworm
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=${PROJECT_NAME}
POSTGRES_PORT=5432
POSTGRES_DATA=./config/db

# WEB
WEB_DIR=./web
